.chat-inter {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.chat-header {
    display: flex;
    background: #5b5a5652;
    color: #ffbb00;
    width: 65%;
    padding-left: 15px;
    border-radius: 20px;

}

.inner-chat {
    position: relative;
    width: 65%;
    outline: none;
    border: none;
}

.error {
    position: absolute;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    top: 0;
    left: 40%;
}

.ai-text {
    color: white;
}

.chat-mic {
    color: #ffbb00;
    
}

.message-input {
    background-color: #2c2b27 ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;

}

.continue-btn {
    width: 50%;
    left: 25%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.send-btn {
    cursor: pointer;
}

.continue-btn:hover, .send-btn:hover {
    background-color: #fbde8e;
}